<app-navigation></app-navigation>
<div class="row" style="margin-top:5em">
  <div class="col-sm-3 d-inline ml-5">
    <img class="img-fluid rounded d-inline" [src]="getUrl()" style="max-width: 10em;"/>
  </div>

  <div class="cols-sm-8 float-left ml-4">
    <p class="text-dark d-inline">@{{user.login}}</p>
    <button type="button" class="btn-light  d-inline rounded" *ngIf="!pageOfCurrentUser">Редактировать профиль</button>
    <button type="button" class="btn-danger rounded" *ngIf="!pageOfCurrentUser">Настройки</button>
    <span *ngIf="pageOfCurrentUser && !user.subscribed">
    <button type="button" class="btn-info d-inline rounded"
            (click)="subscribe()">Подписаться</button>
      </span>
    <span *ngIf="pageOfCurrentUser  && user.subscribed">
    <button type="button" class="btn-info d-inline rounded"
            (click)="unsubscribe()">Отписаться</button>
    </span>
    <div class="d-flex  mt-4">
      <div class="col-sm-3 d-flex">
        <p class="text-info d-flex">{{countOfPosts}} публикаций</p>
      </div>
      <div class="col-sm-1">

      </div>
      <div class="col-sm-3 d-flex">
        <p (click)="openSubscriptionsModal()" class="text-info d-flex">{{countOfSubscriptions}} подписчиков</p>
      </div>
      <div class="col-sm-1 d-flex">

      </div>
      <div class="col-sm-3 d-flex">
        <p (click)="openSubscribersModal()" class="text-info d-flex">{{countOfSubscribers}} подписок</p>
      </div>

    </div>
  </div>
</div>
<app-publication *ngIf="countOfPosts===0"></app-publication>
<div *ngIf="countOfPosts!==0">
  <div *ngFor="let item of posts">
    <app-post class="justify-content-center d-flex col-8" [author]="item.authorLogin"
              [description]="item.text"
              [date]="item.date"
              [_hashTags]="item.hashTags"
              [src]="item.photoPath"
              [authorPhotoPath]="item.authorPhotoPath"
              [_authorId]="item.authorId"
              [id]="item.id">

    </app-post>
  </div>
  <ngb-pagination [collectionSize]="countOfPosts" [pageSize]="itemsPerPage" [(page)]="page" [maxSize]="7"
                  [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
</div>
