<div class="row bootstrap snippets">
  <div class="col-md-offset-2 col-sm-12">
    <div class="comment-wrapper">
      <div class="panel panel-info">
        <div class="panel-heading">
          Comment panel
        </div>
        <div class="panel-body">

          <ul class="media-list">
            <li class="media">
              <a href="#" class="pull-left">
                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
              </a>
              <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                <strong class="text-success">@MartinoMont</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                </p>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
