<h2 mat-dialog-title>Report window</h2>
<div class="bd-highlight" style="overflow:hidden auto; height: auto">
  <form [formGroup]="report">
      <div class="input-group p-1">
        <textarea class="form-control" formControlName="text" style="resize:none" placeholder="write a report" rows="3"></textarea>
      </div>
    <div class=" p-1">
      <button *ngIf="report.valid" class="btn btn-info btn-block"  mat-button [mat-dialog-close]="true" (click)="sendReport()">Add claim</button>
    </div>
  </form>
</div>
